streamlit
scikit-learn
pymupdf
pandas
resume-parser
streamlit
spacy
resume-parser
pandas
spacy==3.7.1
https://github.com/Jcharis/resume_parser/archive/refs/heads/master.zip
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
streamlit
